[submodule "precode.git"]
	path = docs/precode.git
	url = https://github.com/griwodz/in5050-codec63.git
[submodule "docs/mjpeg.git"]
	path = docs/mjpeg.git
	url = https://github.com/griwodz/in5050-mjpeg.git
